.Rproj.user
.Rhistory
.RData
.Ruserdata
*.zip
*.py
*.csv
*.xlsx
*.xls
*.rds
*.pdf
*.sav
*.sas7bdat
data/*
!/2018/2018-04-02/data/state_admission_rate_avg.csv
!/2018/2018-04-30/acs2015_census_tract_data.csv
2020/2020-05-05/villagerdb-master/data/*